<div class="login-page">
  <div class="login-card">

    <!-- App branding -->
    <h1 class="app-title">MediConnect</h1>
    <p class="app-caption">Care. Connect. Consult.</p>

    <!-- Section title -->
    <h2 class="login-title">LOGIN</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="input-group">
        <input
          type="text"
          formControlName="username"
          placeholder="UserName"
        />
      </div>

      <div class="input-group">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
        />
      </div>

      <p class="forgot">Forgot Password</p>

      <button type="submit" class="login-btn" [disabled]="loginForm.invalid">
        Login
      </button>

      <p class="signup-text">
        Don’t Have Account?
        <a routerLink="/auth/register" class="signup-link">Sign Up</a>
      </p>

    </form>

  </div>
</div>
